input {
    height: 3rem;
    padding: 0 1rem;
    color: var(--color-text-0);
    background-color: transparent;
    /*border: none;*/
    border-width: 0.0625rem;
    border-style: solid;
    border-color: var(--color-elem-1);
    border-radius: 0;
    outline: none;
}

input::placeholder {
    color: var(--color-text-1);

    /* source: $styles/primitives/typography.css */
    font-size: var(--text-button-size);
    font-weight: var(--text-button-weight);
    line-height: var(--text-button-lineHeight);
    letter-spacing: var(--text-button-letterSpacing);
}

input:focus {
    border-color: var(--color-elem-2);
}
