.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-elem-2);
    border-style: solid;
    border-width: 1px;

    > * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        height: 100%;
    }

    > .active {
        background-color: var(--color-bg-1);
    }
}