.content {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-family-heading), sans-serif;
    }
}

.content.writes {

    h2 + h3 {
        margin-top: 1.5rem;
    }

    h1 {
        font-size: var(--text-title-size-lg);
        line-height: var(--text-title-lineHeight-lg);
        font-weight: 700;
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;

        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        font-size: var(--text-title-size-md);
        line-height: var(--text-title-lineHeight-md);
        font-weight: 700;
        margin-top: 3.5rem;
        margin-bottom: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-size: var(--text-title-size-sm);
        line-height: var(--text-title-lineHeight-sm);
        font-weight: 500;
        margin-top: 3.5rem;
        margin-bottom: 1.25rem;

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        font-size: var(--text-body-size-lg);
        line-height: var(--text-body-lineHeight-lg);
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-bottom: 1.25rem;
    }

    ul {
        padding-left: 1rem;
    }

    li {
        margin-top: 0.5rem;

        &::marker {
            color: var(--color-list-marker);
            font-size: var(--text-body-size-md);
            line-height: var(--text-body-lineHeight-md);
        }
    }

    a {
        color: var(--color-link);
        text-decoration: inherit;
    }

    hr {
        margin: 0.25rem 0;
    }
}

.content.presentation {

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    & .content-body {
        margin-top: 3rem;
    }
}