.icon {
    width: var(--base-icon-md);
    height: var(--base-icon-md);
    fill: var(--color-icon);
    user-select: none;
}

.icon.icon-sm {
    width: var(--base-icon-sm);
    height: var(--base-icon-sm);
}

.icon.icon-lg {
    width: var(--base-icon-lg);
    height: var(--base-icon-lg);
}