
.text-display-md {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 500;
}

.text-display-sm {
    font-size: .875rem;
    line-height: 2;
    font-weight: 400;
}

.text-title-lg {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
}

.text-title-md {
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 400;
}

.text-title-sm {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.text-subtitle {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 400;
}

.text-body-lg {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.text-body-md {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.text-body-sm {
    font-size: 0.75rem;
    line-height: 1.6666;
    font-weight: 400;
}

.text-caption {
    font-size: 0.75rem;
    line-height: 1.3333;
    font-weight: 400;
}

.text-caption {
    font-size: 0.8125rem;
    line-height: 1.5385;
    font-weight: 400;
}

.text-caption {
    font-size: 0.9285em;
    line-height: 1;
    font-weight: 400;
}

h2{
    margin-top: 0.75rem;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-content {
    h1 {
    }

    h2 {
        margin-top: 0.75rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h5 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}