* {
    font-family: var(--font-family-base), sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


a {
    color: inherit;
    text-decoration: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-size: var(--text-body-size-md);
    line-height: var(--text-body-lineHeight-md);
}

main {
    width: 100%;
    height: 100%;
}

button {
    all: unset;
}


audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading), sans-serif;
    white-space: pre-line;
}

details {
    & > summary {
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }
}