.text-display-lg {
    font-family: var(--font-family-heading), sans-serif;
    font-size: var(--text-display-size-lg);
    line-height: var(--text-display-lineHeight-lg);
    font-weight: bold;
}

.text-display-md {
    font-family: var(--font-family-heading), sans-serif;
    font-size: var(--text-display-size-md);
    line-height: var(--text-display-lineHeight-md);
    font-weight: bold;
}

.text-display-sm {
    font-family: var(--font-family-heading), sans-serif;
    font-size: var(--text-display-size-sm);
    line-height: var(--text-display-lineHeight-sm);
}

.text-title-lg {
    font-family: var(--font-family-heading), sans-serif;
    font-size: var(--text-title-size-lg);
    line-height: var(--text-title-lineHeight-lg);
    font-weight: 700;
}

.text-title-md {
    font-family: var(--font-family-heading), sans-serif;
    font-size: var(--text-title-size-md);
    line-height: var(--text-title-lineHeight-md);
    font-weight: 700;
}

.text-title-sm {
    font-family: var(--font-family-heading), sans-serif;
    font-size: var(--text-title-size-sm);
    line-height: var(--text-title-lineHeight-sm);
    font-weight: 500;
}

.text-body-lg {
    font-size: var(--text-body-size-lg);
    line-height: var(--text-body-lineHeight-lg);
}

.text-body-md {
    font-size: var(--text-body-size-md);
    line-height: var(--text-body-lineHeight-md);
}

.text-body-sm {
    font-size: var(--text-body-size-sm);
    line-height: var(--text-body-lineHeight-sm);
}

.text-caption {
    font-size: var(--text-caption-size);
    line-height: var(--text-caption-lineHeight);
}

