:root[data-theme="dark"] {
    --color-primary: var(--palette-yellow-4);
    --color-secondary: var(--palette-navy-5);

    --color-bg: var(--palette-black);
    --color-bg-sub: var(--palette-neutral-2);
    --color-text: var(--palette-neutral-4);
    --color-text-sub: var(--palette-neutral-3);
    --color-text-muted: var(--palette-white);
    --color-text-disabled: var(--palette-white);
    --color-text-link: var(--palette-white);

    --color-btn: var(--palette-neutral-4);
    --color-tag: var(--palette-neutral-2);
    --color-tag-on: var(--palette-black);

    --color-link: var(--palette-indigo-3);
    --color-list-marker: var(--palette-neutral-6);

    --color-icon: var(--palette-neutral-4);
    --color-icon-email: var(--color-bg);
    --color-icon-email-bg: var(--color-text);
    --color-icon-github: var(--color-bg);
    --color-icon-github-bg: var(--color-text);
    --color-icon-linkedin: var(--color-bg);
    --color-icon-linkedin-bg: var(--color-text);
}